.device-page {
  cursor: default;
  position: relative;
  padding: 0 20px;
  z-index: 50; }
  .device-page .container-fluid {
    max-width: 1200px;
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .device-page .header-device-page {
    padding-top: 18px;
    margin-bottom: 10px; }
    .device-page .header-device-page a {
      text-decoration: underline; }
      .device-page .header-device-page a:hover {
        text-decoration: none; }
    .device-page .header-device-page .device-page-title {
      color: #313131;
      font-family: "Roboto";
      font-size: 36px;
      font-weight: 900; }
    .device-page .header-device-page .state-of-account {
      padding-top: 18px; }
      .device-page .header-device-page .state-of-account .device-my-orders {
        float: left; }
      .device-page .header-device-page .state-of-account .account-money {
        float: right; }
        .device-page .header-device-page .state-of-account .account-money .replenish {
          font-size: 13px; }
  .device-page .device-page-wrapper .device-lists {
    margin-bottom: 57px; }
    .device-page .device-page-wrapper .device-lists .device-list-cell {
      padding-bottom: 11px;
      border-bottom: 1px solid #eeeeee;
      margin-bottom: 10px; }
      .device-page .device-page-wrapper .device-lists .device-list-cell.no-border {
        border-bottom: none; }
      .device-page .device-page-wrapper .device-lists .device-list-cell .device-list-h {
        margin-bottom: 10px; }
        .device-page .device-page-wrapper .device-lists .device-list-cell .device-list-h figure .icon {
          color: #22B5AE;
          font-size: 30px;
          font-weight: 400;
          line-height: 1; }
        .device-page .device-page-wrapper .device-lists .device-list-cell .device-list-h figure .size {
          display: inline-block;
          position: relative;
          top: 4px; }
        .device-page .device-page-wrapper .device-lists .device-list-cell .device-list-h .description p {
          margin: 0; }
      .device-page .device-page-wrapper .device-lists .device-list-cell .device-list-b {
        position: relative;
        padding: 21px 0 0 90px; }
        .device-page .device-page-wrapper .device-lists .device-list-cell .device-list-b .min-size {
          position: absolute;
          top: 0;
          left: 0;
          color: #818181;
          font-family: "Open Sans";
          font-size: 11px;
          font-weight: 400; }
        .device-page .device-page-wrapper .device-lists .device-list-cell .device-list-b .devise-item-size .box-input {
          margin-right: 10px;
          float: left; }
          .device-page .device-page-wrapper .device-lists .device-list-cell .device-list-b .devise-item-size .box-input input {
            display: inline-block;
            border: 1px solid #d1d1d1;
            border-top-left-radius: 2px;
            border-top-right-radius: 2px;
            border-bottom-left-radius: 2px;
            border-bottom-right-radius: 2px;
            box-shadow: none !important;
            -webkit-appearance: none;
            font-family: "Open Sans";
            height: 31px;
            width: 61px;
            font-size: 14px;
            padding: 4px 13px;
            font-weight: 600;
            color: #616161; }
        .device-page .device-page-wrapper .device-lists .device-list-cell .device-list-b .devise-item-size .box-select {
          float: left;
          margin-right: 13px; }
          .device-page .device-page-wrapper .device-lists .device-list-cell .device-list-b .devise-item-size .box-select .jq-selectbox {
            width: 87px; }
          .device-page .device-page-wrapper .device-lists .device-list-cell .device-list-b .devise-item-size .box-select .jq-selectbox {
            vertical-align: middle;
            cursor: pointer; }
            .device-page .device-page-wrapper .device-lists .device-list-cell .device-list-b .devise-item-size .box-select .jq-selectbox .jq-selectbox__select {
              color: #616161;
              font-weight: 600;
              padding: 4px 28px 5px 12px;
              border-top-left-radius: 2px;
              border-top-right-radius: 2px;
              border-bottom-left-radius: 2px;
              border-bottom-right-radius: 2px;
              background-color: transparent;
              border: 1px solid #ccc;
              font-size: 14px; }
              .device-page .device-page-wrapper .device-lists .device-list-cell .device-list-b .devise-item-size .box-select .jq-selectbox .jq-selectbox__select:hover {
                background: #22b5ae;
                border-color: #22b5ae;
                color: #fff !important; }
                .device-page .device-page-wrapper .device-lists .device-list-cell .device-list-b .devise-item-size .box-select .jq-selectbox .jq-selectbox__select:hover .jq-selectbox__trigger-arrow {
                  background-position: -33px -66px !important; }
              .device-page .device-page-wrapper .device-lists .device-list-cell .device-list-b .devise-item-size .box-select .jq-selectbox .jq-selectbox__select .jq-selectbox__select-text {
                display: block;
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap; }
              .device-page .device-page-wrapper .device-lists .device-list-cell .device-list-b .devise-item-size .box-select .jq-selectbox .jq-selectbox__select .jq-selectbox__trigger {
                position: absolute;
                top: 1px;
                right: 1px;
                width: 22px;
                height: 31px; }
              .device-page .device-page-wrapper .device-lists .device-list-cell .device-list-b .devise-item-size .box-select .jq-selectbox .jq-selectbox__select .jq-selectbox__trigger-arrow {
                overflow: hidden;
                position: absolute;
                background: url(../img/sprite.png) no-repeat scroll -33px -55px transparent;
                border: medium none;
                height: 8px;
                opacity: 1;
                right: 8px;
                top: 10px;
                width: 11px; }
            .device-page .device-page-wrapper .device-lists .device-list-cell .device-list-b .devise-item-size .box-select .jq-selectbox.opened .jq-selectbox__select {
              background: #22b5ae;
              border-color: #22b5ae;
              color: #fff !important; }
            .device-page .device-page-wrapper .device-lists .device-list-cell .device-list-b .devise-item-size .box-select .jq-selectbox.opened .jq-selectbox__trigger-arrow {
              background-position: -33px -66px !important; }
            .device-page .device-page-wrapper .device-lists .device-list-cell .device-list-b .devise-item-size .box-select .jq-selectbox.disabled .jq-selectbox__select {
              border-color: #CCC;
              background: #f5f5f5;
              color: #ccc; }
            .device-page .device-page-wrapper .device-lists .device-list-cell .device-list-b .devise-item-size .box-select .jq-selectbox.disabled .jq-selectbox__trigger-arrow {
              opacity: 0.3;
              filter: alpha(opacity=30); }
            .device-page .device-page-wrapper .device-lists .device-list-cell .device-list-b .devise-item-size .box-select .jq-selectbox .jq-selectbox__dropdown {
              width: 100% !important;
              background-clip: padding-box;
              background-color: #fff;
              border: 1px solid rgba(0, 0, 0, 0.15);
              border-radius: 4px;
              box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
              display: none;
              float: left;
              font-size: 14px;
              left: 0;
              list-style: none outside none;
              margin: 2px 0 0;
              padding: 5px 0;
              position: absolute;
              text-align: left;
              top: 36px;
              z-index: 1000; }
            .device-page .device-page-wrapper .device-lists .device-list-cell .device-list-b .devise-item-size .box-select .jq-selectbox ul {
              padding: 0;
              margin: 0; }
            .device-page .device-page-wrapper .device-lists .device-list-cell .device-list-b .devise-item-size .box-select .jq-selectbox li {
              clear: both;
              color: #333;
              display: block;
              font-weight: normal;
              line-height: 1.42857;
              padding: 3px 20px;
              white-space: nowrap; }
              .device-page .device-page-wrapper .device-lists .device-list-cell .device-list-b .devise-item-size .box-select .jq-selectbox li:hover {
                background: #22b5ae;
                color: #fff; }
              .device-page .device-page-wrapper .device-lists .device-list-cell .device-list-b .devise-item-size .box-select .jq-selectbox li.selected {
                background-color: #a3abb1;
                color: #fff; }
              .device-page .device-page-wrapper .device-lists .device-list-cell .device-list-b .devise-item-size .box-select .jq-selectbox li.disabled {
                background: #cecece; }
              .device-page .device-page-wrapper .device-lists .device-list-cell .device-list-b .devise-item-size .box-select .jq-selectbox li .disabled {
                color: #AAA; }
                .device-page .device-page-wrapper .device-lists .device-list-cell .device-list-b .devise-item-size .box-select .jq-selectbox li .disabled:hover {
                  background: none; }
              .device-page .device-page-wrapper .device-lists .device-list-cell .device-list-b .devise-item-size .box-select .jq-selectbox li .option {
                padding-left: 25px; }
        .device-page .device-page-wrapper .device-lists .device-list-cell .device-list-b .devise-item-size .price-month {
          padding-top: 4px;
          color: #313131;
          font-family: "Open Sans";
          font-size: 16px;
          font-weight: 700;
          float: left; }
          .device-page .device-page-wrapper .device-lists .device-list-cell .device-list-b .devise-item-size .price-month span {
            color: #FF8D8D;
            font-family: "Open Sans";
            font-size: 15px;
            font-weight: 700;
            position: relative;
            top: -3px; }
        .device-page .device-page-wrapper .device-lists .device-list-cell .device-list-b .devise-item-size .remove {
          float: right;
          padding-top: 6px; }
          .device-page .device-page-wrapper .device-lists .device-list-cell .device-list-b .devise-item-size .remove .remove-link {
            color: #808080;
            font-family: "Open Sans";
            border-bottom: 1px dotted #808080;
            text-decoration: none;
            font-size: 11px;
            font-weight: 400; }
            .device-page .device-page-wrapper .device-lists .device-list-cell .device-list-b .devise-item-size .remove .remove-link:hover {
              border-color: transparent; }
    .device-page .device-page-wrapper .device-lists .lease-terms {
      color: #313131;
      margin-top: 15px;
      font-family: "Open Sans";
      font-size: 15px;
      font-weight: 400; }
      .device-page .device-page-wrapper .device-lists .lease-terms span {
        color: #FF8D8D;
        font-family: "Open Sans";
        font-size: 15px;
        font-weight: 700; }
  .device-page .device-page-wrapper .device-order-form fieldset {
    margin-bottom: 30px; }
    .device-page .device-page-wrapper .device-order-form fieldset.phone {
      width: 50%; }
  .device-page .device-page-wrapper .device-order-form label {
    color: #818181;
    font-size: 11px;
    display: block;
    font-weight: 400; }
  .device-page .device-page-wrapper .device-order-form input[type="text"] {
    border: none;
    display: block;
    color: #313131;
    font-family: "Open Sans";
    border-bottom: 2px solid #eeeeee;
    font-size: 24px;
    font-weight: 700;
    padding: 2px 0 10px;
    width: 100%; }
  .device-page .device-page-wrapper .device-order-form input[type="submit"] {
    display: inline-block;
    border: 1px solid #d1d1d1;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    -webkit-appearance: none;
    font-family: "Open Sans";
    background: #fff;
    font-size: 14px;
    padding: 4px 13px;
    font-weight: 600;
    color: #616161; }
  .device-page .device-page-wrapper .device-order-form .no-money {
    display: inline-block;
    margin-left: 20px;
    color: #FF6363;
    font-size: 15px; }
  .device-page .device-page-wrapper .device-order-data {
    margin-bottom: 20px; }
    .device-page .device-page-wrapper .device-order-data .group-menu {
      padding: 0; }
      .device-page .device-page-wrapper .device-order-data .group-menu .btn {
        font-size: 14px;
        font-weight: 600; }
  .device-page .device-page-wrapper .device-order {
    padding: 0; }
    .device-page .device-page-wrapper .device-order .calendar-name {
      padding: 0; }
      .device-page .device-page-wrapper .device-order .calendar-name .days-cal {
        color: #313131;
        font-family: "Roboto";
        font-size: 18px;
        font-weight: 700; }
    .device-page .device-page-wrapper .device-order .device-order-table {
      padding: 0; }
      .device-page .device-page-wrapper .device-order .device-order-table .device-order-t-header {
        padding: 6px 0;
        color: #616161;
        font-size: 13px; }
        .device-page .device-page-wrapper .device-order .device-order-table .device-order-t-header .number {
          padding: 0; }
        .device-page .device-page-wrapper .device-order .device-order-table .device-order-t-header .price {
          padding: 0; }
      .device-page .device-page-wrapper .device-order .device-order-table .device-order-t-cell {
        border-top: 1px solid #eeeeee;
        padding: 10px 0; }
        .device-page .device-page-wrapper .device-order .device-order-table .device-order-t-cell .number-order {
          padding: 0; }
          .device-page .device-page-wrapper .device-order .device-order-table .device-order-t-cell .number-order a {
            display: block;
            text-decoration: underline;
            margin-bottom: 10px; }
            .device-page .device-page-wrapper .device-order .device-order-table .device-order-t-cell .number-order a:hover {
              text-decoration: none; }
        .device-page .device-page-wrapper .device-order .device-order-table .device-order-t-cell .item-order-list {
          padding: 0; }
          .device-page .device-page-wrapper .device-order .device-order-table .device-order-t-cell .item-order-list .list-item-device {
            padding: 0;
            margin: 0;
            width: 100%; }
            .device-page .device-page-wrapper .device-order .device-order-table .device-order-t-cell .item-order-list .list-item-device li {
              width: 100%;
              margin-top: 15px;
              list-style: none; }
              .device-page .device-page-wrapper .device-order .device-order-table .device-order-t-cell .item-order-list .list-item-device li:first-child {
                margin-top: 0; }
              .device-page .device-page-wrapper .device-order .device-order-table .device-order-t-cell .item-order-list .list-item-device li .list-item-inner {
                padding: 0; }
                .device-page .device-page-wrapper .device-order .device-order-table .device-order-t-cell .item-order-list .list-item-device li .list-item-inner .device-image {
                  float: left;
                  margin-right: 10px;
                  width: 60px; }
                  .device-page .device-page-wrapper .device-order .device-order-table .device-order-t-cell .item-order-list .list-item-device li .list-item-inner .device-image .icon {
                    color: #22B5AE;
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 1; }
                  .device-page .device-page-wrapper .device-order .device-order-table .device-order-t-cell .item-order-list .list-item-device li .list-item-inner .device-image .size {
                    display: inline-block;
                    position: relative;
                    top: 2px; }
                .device-page .device-page-wrapper .device-order .device-order-table .device-order-t-cell .item-order-list .list-item-device li .list-item-inner .description {
                  padding-top: 3px; }
              .device-page .device-page-wrapper .device-order .device-order-table .device-order-t-cell .item-order-list .list-item-device li .responsible-user {
                padding: 12px 0 8px 70px; }
                .device-page .device-page-wrapper .device-order .device-order-table .device-order-t-cell .item-order-list .list-item-device li .responsible-user .user-cell {
                  margin-top: 20px; }
                  .device-page .device-page-wrapper .device-order .device-order-table .device-order-t-cell .item-order-list .list-item-device li .responsible-user .user-cell:first-child {
                    margin-top: 0; }
                  .device-page .device-page-wrapper .device-order .device-order-table .device-order-t-cell .item-order-list .list-item-device li .responsible-user .user-cell .user-cell-left {
                    padding: 0; }
                    .device-page .device-page-wrapper .device-order .device-order-table .device-order-t-cell .item-order-list .list-item-device li .responsible-user .user-cell .user-cell-left .user-image {
                      width: 50px;
                      height: 52px;
                      margin-right: 17px;
                      border-bottom: 2px solid transparent;
                      float: left; }
                      .device-page .device-page-wrapper .device-order .device-order-table .device-order-t-cell .item-order-list .list-item-device li .responsible-user .user-cell .user-cell-left .user-image.good {
                        border-color: #23b5ae; }
                      .device-page .device-page-wrapper .device-order .device-order-table .device-order-t-cell .item-order-list .list-item-device li .responsible-user .user-cell .user-cell-left .user-image.bad {
                        border-color: #ff7b84; }
                    .device-page .device-page-wrapper .device-order .device-order-table .device-order-t-cell .item-order-list .list-item-device li .responsible-user .user-cell .user-cell-left .description-user .name {
                      float: left;
                      padding-right: 10px; }
                      .device-page .device-page-wrapper .device-order .device-order-table .device-order-t-cell .item-order-list .list-item-device li .responsible-user .user-cell .user-cell-left .description-user .name .title {
                        color: #313131;
                        font-size: 15px;
                        font-weight: 600; }
                      .device-page .device-page-wrapper .device-order .device-order-table .device-order-t-cell .item-order-list .list-item-device li .responsible-user .user-cell .user-cell-left .description-user .name .id {
                        color: #616161;
                        font-size: 13px;
                        font-weight: 400; }
                    .device-page .device-page-wrapper .device-order .device-order-table .device-order-t-cell .item-order-list .list-item-device li .responsible-user .user-cell .user-cell-left .description-user .data-device {
                      float: right;
                      color: #616166;
                      padding-right: 10px;
                      font-size: 13px; }
                      .device-page .device-page-wrapper .device-order .device-order-table .device-order-t-cell .item-order-list .list-item-device li .responsible-user .user-cell .user-cell-left .description-user .data-device .size-printed {
                        color: #313131;
                        font-size: 15px; }
                  .device-page .device-page-wrapper .device-order .device-order-table .device-order-t-cell .item-order-list .list-item-device li .responsible-user .user-cell .item-order-price {
                    padding-top: 8px; }
              .device-page .device-page-wrapper .device-order .device-order-table .device-order-t-cell .item-order-list .list-item-device li .item-order-price {
                padding: 0; }
      .device-page .device-page-wrapper .device-order .device-order-table .device-order-total {
        padding-top: 10px;
        padding-bottom: 10px;
        border-top: 1px solid #eeeeee; }
        .device-page .device-page-wrapper .device-order .device-order-table .device-order-total:after {
          content: "";
          display: table;
          clear: both; }
        .device-page .device-page-wrapper .device-order .device-order-table .device-order-total .total-price {
          color: #313131;
          font-size: 18px;
          font-weight: 700;
          float: right; }
  .device-page .device-page-wrapper .personal-account {
    padding-top: 5px; }
    .device-page .device-page-wrapper .personal-account .description {
      margin-bottom: 10px; }
    .device-page .device-page-wrapper .personal-account .payment-personal-account ul {
      padding: 0;
      margin-bottom: 21px; }
      .device-page .device-page-wrapper .personal-account .payment-personal-account ul li {
        display: table;
        height: 56px;
        width: 56px;
        border: 1px solid transparent;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        margin-right: 5px;
        list-style: none;
        cursor: pointer;
        float: left; }
        .device-page .device-page-wrapper .personal-account .payment-personal-account ul li.visa {
          background: url(../img/payment-type-1.png) no-repeat 0 100%; }
        .device-page .device-page-wrapper .personal-account .payment-personal-account ul li.master-cart {
          background: url(../img/payment-type-2.png) no-repeat 0 100%; }
        .device-page .device-page-wrapper .personal-account .payment-personal-account ul li.yandex-money {
          background: url(../img/payment-type-3.png) no-repeat 0 100%; }
        .device-page .device-page-wrapper .personal-account .payment-personal-account ul li.qiwi {
          background: url(../img/payment-type-4.png) no-repeat 0 100%; }
        .device-page .device-page-wrapper .personal-account .payment-personal-account ul li.active, .device-page .device-page-wrapper .personal-account .payment-personal-account ul li:hover {
          border-color: #cccccc;
          background-position: 0 0; }
    .device-page .device-page-wrapper .personal-account .payment-amount .input-block {
      position: relative;
      width: 340px; }
    .device-page .device-page-wrapper .personal-account .payment-amount label {
      color: #818181;
      font-size: 11px;
      font-weight: 400; }
    .device-page .device-page-wrapper .personal-account .payment-amount input[type="text"] {
      border: none;
      border-bottom: 2px solid #eeeeee;
      color: #313131;
      font-family: "Open Sans";
      font-size: 20px;
      font-weight: 700;
      padding: 3px 40px 11px 5px;
      background: #fff;
      width: 340px; }
    .device-page .device-page-wrapper .personal-account .payment-amount button.btn {
      position: absolute;
      right: 0;
      top: 4px;
      margin: 0; }

/*# sourceMappingURL=device-page.css.map */
