.userMessages { width: 267px; background: #f4f4f4; height: 100%;  position: fixed; left: 90px; z-index: 1000;}
	.userMessages .searchBlock { height: 47px; padding: 35px 26px 0 30px;}
	.userMessages .searchBlock input { width: 190px; float: left; background: none; border: none; box-shadow: none; margin: 0; padding: 0; font-family: 'Open Sans', sans-serif; font-size: 15px;}
	.userMessages .searchBlock .glyphicons.search:before { color: #616166; font-size: 15px;}
	.userMessages .searchBlock .glyphicons.search { float: right; margin-top: -2px;}
	
	.userMessages .myOrders { border-top: 1px solid #E4E6E8; border-bottom: 1px solid #e4e6e8; padding: 18px 0 20px 26px;}
		
	.userMessages .productItem { border-bottom: 1px solid #e4e6e8; padding: 21px 5px 22px 29px; color: #313131; font-weight: 600; }
		.userMessages .productItem.active { background: #e5f0ef;}
		.userMessages .productItem .thumb { float: left; width: 70px;}
			.userMessages .productItem .thumb img { display: block; max-width: 70px;}
		.userMessages .productItem .name { font-size: 15px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; width: 163px; margin-left: 70px; padding-top: 6px;}
		.userMessages .productItem .description { font-size: 13px; color: #616161; margin-left: 70px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; width: 163px;}
		.userMessages .productItem .orderInfo { padding-top: 12px; margin-left: 70px;}
			.userMessages .productItem .orderInfo .btn { padding-left: 9px; padding-right: 8px; margin-left: 11px;}
			
	.userMessages .recharge { position: absolute; bottom:0; left: 26px; color: #313131; font-size: 15px; padding: 0 0 17px 0;}
		.userMessages .recharge .wallet:before { font-size: 22px;}
		.userMessages .recharge .wallet { color: #616161;  float: left;}
		.userMessages .recharge .text { margin-left: 31px; padding-top: 5px;}
			.userMessages .recharge .text .balance { padding-bottom: 5px;}
			.userMessages .recharge .text a { color: #1580be; border-bottom: 1px solid #c1dae8; padding-bottom: 2px; text-decoration: none;}
			.userMessages .recharge .text a:hover { border-bottom: none; }