body { font-family: 'Open Sans', sans-serif; color: #313131; }
a { text-decoration: none !important;}
.icon { background-image: url('../img/sprite.png'); background-repeat: no-repeat; display: inline-block; }
.icon_add { background-position: 0 0; width: 52px; height: 52px; }
.icon_add:hover { background-position: 0 -278px;}
.icon_enter { background-position: 0 -55px; width: 29px; height: 29px;}
.icon_enter:hover { background-position: 0 -211px;}
.icon_attach { background-position: 0 -89px; width: 31px; height: 31px;}
.icon_attach:hover { background-position: 0 -244px; }
.icon_cube { background-position: 0 -124px; width: 34px; height: 39px; margin-top: 24px;}
.icon_cube:hover { background-position: 0 -167px;}

.menuBar { width: 90px; background: #313131; height: 100%; text-align: center;  position: fixed; z-index: 1000; }

.menuBar .glyphicons { margin-top: 24px;}
	.menuBar .glyphicons .badge-important { position: absolute; top: 5px; right: -15px;}
	.menuBar .userLogo { max-width: 90px;}
	.menuBar a:hover .userLogo { opacity: 0.6;}
	.menuBar div.active .glyphicons { color: #fff;}
	.menuBar div.active { position: relative;}
	.menuBar div.active:after { content: ''; width:0; height:0; border-top: 6px solid transparent; border-right: 10px solid #fff; border-bottom: 6px solid transparent; position: absolute; right: 0; top: 33px;}

.badge-important { background-color: #ff6363; text-align: center; font-size: 10px;  padding: 0; font-weight: normal; text-shadow: none; line-height: 17px; width: 18px; height: 18px;}
.btn { background: none; box-shadow: none; border-radius: 2px !important; border-color:#cccccc; color: #616161; font-weight: 600; }
.btn:hover, .btn:focus { background: #22b5ae; color: #fff; text-shadow: none;}
.btn-group.open .btn.dropdown-toggle { background-color: #22b5ae;}


.usersInChat { position: fixed; right: 0; top: 0; z-index: 100; margin-left: 90px;}
	.usersInChat img { margin: 0; display: block; float: right; border-bottom: 2px solid #23b5ae;}
	.usersInChat a:hover img { opacity: 0.6}
	.usersInChat img.active { border-bottom-color: #ff7b84;}
	.usersInChat .icon_add { float: right;}
	
.dialog { padding: 0 47px 0 126px;}
	.dialog .text { -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; font-size: 15px; padding: 9px 25px 15px 20px; position: relative; color: #313131; line-height: 24px;}
	.dialog .time { color: #aaa; font-size: 11px; padding-top: 5px;}
	.dialog .date { color: #616161; font-size: 13px; text-align: center; font-weight: 700; margin-top: 49px; }
	.dialog .leftMessage { float: left; margin-top: 49px;}
		.dialog .leftMessage:first-child { margin-top: 0;}
		.dialog .leftMessage .ava { float: left;}
		.dialog .leftMessage .text { background: #f8f8f0; margin: 0 114px 0 73px;}
		.dialog .leftMessage .time  { float: right; width: 100px; }
		.dialog .leftMessage .text:before { content: ''; width:0; height:0; border-top: 6px solid transparent; border-right: 9px solid #f8f8f0; border-bottom: 6px solid transparent; position: absolute; top: 15px; left: -9px; z-index: 2;}
		
	.dialog .rightMessage { float: right; margin-top: 49px;}
		.dialog .rightMessage .text { background: #f4f9ff; margin: 0 0 0 114px;}
		.dialog .rightMessage .time { float: left; width: 100px; text-align: right;}
		.dialog .rightMessage .text:before { content: ''; width:0; height:0; border-top: 6px solid transparent; border-left: 9px solid #f4f9ff; border-bottom: 6px solid transparent; position: absolute; top: 15px; right: -9px; z-index: 2;}
		
	.dialog .text.anotherText { margin-top: 8px;}
	.dialog .text.anotherText:before { border: none;}

.bottom { position: fixed; left: 90px; bottom: 0; width: 100%; z-index: 100; background: #fff;}	
	
.openChats { padding: 0; }
	.openChats .item { border: 1px solid #eee; border-left: none; position: relative; float: left; }
		.openChats .item .ava { border-bottom: 2px solid #23b5ae; display: inline-block; width: 50px; height: 50px; cursor: pointer; vertical-align: middle;}
		.openChats .item .badge.badge-important { position: absolute; bottom: -8px; left: 17px; z-index: 3;}
		.openChats .item .remove { border-left: 1px solid #eee; height:39px; padding: 13px 12px 0 12px; float: right;}
		.openChats .item .name { font-size: 15px;  border-left: none; margin: 0; padding: 0 19px 0 19px; cursor: pointer; max-width: 200px; display: inline-block; vertical-align: middle;}
		.openChats .item .circle_remove { color: #c1c1c1; margin-top: -3px;}
		.openChats .item .circle_remove:before { font-size: 16px;}
	
	
	.openChats .item.active, .openChats .item:hover { background: #25b5be;}
		.openChats .item.active .circle_remove, .openChats .item:hover .circle_remove  { color: #fff;}
		.openChats .item.active .remove, .openChats .item:hover .remove { border-left-color: #67cbd2;}
		.openChats .item.active .name, .openChats .item:hover .name { color:#fff;}
		
		.openChats .item:hover .ava { opacity: 0.7; filter: alpha(opacity=70);}
		.openChats .item .circle_remove:hover { color: #dfdfdf;}
	
	
.sendForm  { margin: 20px auto 20px auto; width: 59.7%; max-width: 544px; position: relative;}
	.sendForm  .ava { width: 50px; height: 50px; position: absolute; left:-78px; top: 0; }
	.sendForm .text { color: #818181; font-size: 11px; padding: 0 0 5px 0;} 
	.sendForm textarea { resize: none; outline: none; font-size: 24px; font-weight: 700; color: #313131; width: 90%; float: left; padding: 0; margin: 0 0 0 0; border: none; box-shadow: none; font-family: 'Open Sans', sans-serif;  height: 80px; line-height: 36px; box-sizing: border-box}
	.sendForm .icon_enter { float: right; position: relative; top: 40px;}
	.sendForm .formBottom  { border-top: 2px solid #eee; padding: 10px 0 0 0;}
		.sendForm .formBottom .inputFile { float: left;}
		.sendForm .formBottom .inputFile input[type=file] { opacity: 0; width: 31px; height: 31px; overflow: hidden; cursor: pointer;}
		.sendForm .formBottom span { float: right; font-size: 11px; color: #aeaeae;}
			
.pageOrder { margin: 0 0 0 126px; padding-right: 35px;}
	.pageOrder h1 { margin: 0; padding: 20px 0 24px 0; font-family: 'Roboto', sans-serif; font-weight: 900; font-size: 36px;}
	.pageOrder .rightButton { float: right; margin: 34px 0 0 10px;}
	.pageOrder .rightButton.active { background: #22b5ae; color: #fff; text-shadow: none; box-shadow: none; }
	.pageOrder .product {}
		.pageOrder .product .fullImg { float: left; max-width: 106px; display: block;}
		.pageOrder .product .description { font-size: 15px; line-height: 24px; max-width: 520px; margin-left: 142px;}
			.pageOrder .product .description .info { padding-bottom: 23px; }
			.pageOrder .product .description .price { font-size: 24px; font-weight: 700; display: inline-block; vertical-align: middle; margin-right: 28px;}
			.pageOrder .product .description .btn { margin-left: 6px;}
			
			.pageOrder .product .description .jq-selectbox__trigger { border-left: none; width: 20px; }
			.pageOrder .product .description .jq-selectbox  { width: 95px; margin-left: 7px;}
			.pageOrder .product .description .jq-selectbox__trigger-arrow { width: 11px; height: 8px; background: url('../img/sprite.png') no-repeat -33px -55px; border: none; top: 10px; right: 8px; opacity: 1; filter: alpha(opacity=100);}
			.pageOrder .product .description .jq-selectbox__select { background: none; box-shadow: none; color: #616161; font-family: 'Open Sans', sans-serif; font-weight: 600; border-radius: 2px; height: 28px; padding: 0px 23px 0px 10px; border-color: #ccc; line-height: 27px;}
			.pageOrder .product .description .jq-selectbox__select:hover { background: #22b5ae; color: #fff; text-shadow: none; }
			.pageOrder .product .description .jq-selectbox__select:hover .jq-selectbox__trigger-arrow { background-position: -33px -66px;}
			.pageOrder .product .description .jq-selectbox.focused .jq-selectbox__select { border: 1px solid #22b5ae;}
			.pageOrder .product .description .jq-selectbox li:hover { background: #22b5ae; }
			
			.pageOrder .product .description .select110 { width: 110px;}
			
	.pageOrder .contactForm { margin: 24px 0 50px 0;}
		.pageOrder .contactForm label { color: #818181; font-size: 11px; margin-top: 29px;}
		.pageOrder .contactForm input[type="text"] {
			border: none;
			border-radius: 0;
			width: 100%;
			max-width: 573px;
			border-bottom: 2px solid #eee;
			resize: none;
			outline: none;
			font-size: 24px;
			font-weight: 700;
			color: #313131;
			padding: 0 0 10px 0;
			margin: 0; 
			box-shadow: none;
			font-family: 'Open Sans', sans-serif;
			height: 45px;
			box-sizing: border-box;
		}
		.pageOrder .contactForm input.error { border-bottom-color: red; color: red;}
		.pageOrder .contactForm input.error:-moz-placeholder { color: red;}
		.pageOrder .contactForm input.error::-webkit-input-placeholder { color: red; }
		
	.pageOrder .myOrders { width: 100%; text-align: left; margin-top: 5px;}
		.pageOrder .myOrders th { color: #616161; font-size: 13px; font-weight: 400; padding-bottom: 3px}
		.pageOrder .myOrders tr td { border-top: 1px solid #eee; color: #313131; font-size: 15px; vertical-align: top; padding: 12px 0 16px 0;}
		.pageOrder .myOrders tr td .description { font-size: 13px; color: #616161; padding-top: 8px; }
		.pageOrder .myOrders tr td.status { font-weight: 700;}

@media (max-width: 600px) { 
	.dialog { padding: 0 15px 0 100px;}
	.dialog .text { padding-left: 5px; padding-right: 5px; font-size: 12px; line-height: 20px; }
	.dialog .leftMessage .text { margin-left: 60px;}
}		

@media (max-width: 760px) {
	.pageOrder .product .description .price { display: block; padding-bottom: 5px;}
	.pageOrder .product .description .jq-selectbox, .pageOrder .product .description .btn { margin-top: 10px;}
}

@media (max-width: 540px) {
	.pageOrder .product .fullImg { float: none;}
	.pageOrder .product .description { margin-left: 0; margin-top: 10px;}
	.pageOrder { margin-left: 100px; padding-right: 10px;}
	.pageOrder .rightButton { float: none; margin-top: 5px;}
}